*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Segoe UI',sans-serif;
    background:linear-gradient(135deg,#ffd6e7,#d9f3ff);
    text-align:center;
    overflow-x:hidden;
}

/* Floating Hearts */
/* body::before,
body::after{
    content:"🦋";
    position:fixed;
    font-size:40px;
    animation:fly 15s linear infinite;
    z-index:1;
}

body::after{
    left:80%;
    animation-delay:5s;
}

@keyframes fly{
    from{
        transform:translateY(100vh);
    }
    to{
        transform:translateY(-100px);
    }
} */

header{
    padding:70px 20px;
    background:linear-gradient(135deg,#ff4f81,#ff9ec4);
    color:white;
    animation:fadeIn 2s;
}

#date{
    font-size:28px;
    color:#fff3a1;
    margin:10px 0;
}

h1{
    font-size:50px;
}

header h2{
    margin-top:15px;
    color:white;
}

section{
    margin:30px auto;
    width:90%;
    max-width:1000px;

    background:rgba(255,255,255,.25);
    backdrop-filter:blur(12px);

    padding:30px;
    border-radius:25px;

    box-shadow:0 8px 25px rgba(0,0,0,.1);

    animation:fadeUp 1.5s;
}

section h2{
    color:#ff4f81;
    margin-bottom:15px;
}

.photos{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:15px;
}

.photos img{
    width:220px;
    height:280px;
    object-fit:cover;
    border-radius:20px;
    transition:.4s;
    cursor:pointer;
    box-shadow:0 5px 15px rgba(0,0,0,.15);
}

.photos img:hover{
    transform:scale(1.08);
}

video{
    width:350px;
    max-width:100%;
    border-radius:20px;
    box-shadow:0 5px 20px rgba(0,0,0,.2);
}

.message{
    background:rgba(255,240,240,.5);
}

footer{
    margin-top:40px;
    background:#ff4f81;
    color:white;
    padding:20px;
    font-size:18px;
}

@keyframes fadeIn{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}

@keyframes fadeUp{
    from{
        opacity:0;
        transform:translateY(50px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}

#lightbox{
    display:none;
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.9);
    justify-content:center;
    align-items:center;
    z-index:999;
}

#lightbox img{
    max-width:90%;
    max-height:90%;
    border-radius:20px;
}